<?xml version='1.0' encoding='UTF-8'?>
<!--/home/admin/.jenkins/users/admin/config.xml -->
<user>
  <fullName>admin</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwUXWj5Wf37DJsZNDEc9hQPkk1RNhp60nc6wCx8RcZB6TmsMCzzFCIk2WVHq1lbsZDnktNQRelLAYJjdVPtQBH3Q==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$LZcbeLvjoLHdY6W9exD6R.ZVaO4dheDqn2Odnegd1gUIwam5bxJDC</passwordHash>
      <!--/home/admin/.jenkins/secrets/initialAdminPassword : 2e68b9093dca47409e2ba9d857fe9d1a -->
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1517327044170</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>
